<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content >
  <div class="img">
    <input type="file" class="input-file" (change)="onInput($event)">
    <img src="./assets/profile.webp" alt="photo-profile" *ngIf="!newData.profile.photoUrl" />
    <img [src]="newData.profile.photoUrl" *ngIf="newData.profile.photoUrl"/>
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Nombre Completo</mat-label>
      <input matInput [(ngModel)]="newData.fullname">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput [(ngModel)]="newData.profile.dni" (keyup)="generateEmail()">
    </mat-form-field>


  </div>
  <div class="w-100">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="newData.email">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Numero de telefono</mat-label>
      <input matInput [(ngModel)]="newData.profile.phoneNumber">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Numero de whatsapp</mat-label>
      <input matInput [(ngModel)]="newData.profile.whatsapp">
    </mat-form-field>
  </div>
  <div class="w-100">

    <mat-form-field class="w-100">
      <mat-label>Notas de veterinario</mat-label>
      <textarea matInput placeholder="Ejemplo: Especialista en adiestramiento canino"[(ngModel)]="newData.profile.specialist"></textarea>
    </mat-form-field>
  </div>

  <div class="w-100">
    <mat-form-field class="w-100">
      <mat-label>Notas</mat-label>
      <textarea matInput [(ngModel)]="newData.profile.notes" ></textarea>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>

  <button mat-button color="primary" (click)="save()" cdkFocusInitial>Guardar</button>
</div>
